 <!DOCTYPE html>
 <head>
 	<title>USA Mortality Analyzer</title>
 </head>
 <body>
 	<p> I want to search for : </p>
	<form action = "http://localhost:5432/second_screen" method = "POST">
	  <input type="radio" name="q" value="life_expectancy" checked>Life Expectancy<br>
	  <input type="radio" name="q" value="guns_vehicles"> Gunds vs Vehicle Deaths<br>
  	  <input type="radio" name="q" value="death_causes"> Top Death Causes<br>
  	  <input type="radio" name="q" value="race_deaths"> Death Cause for Races<br>
  	  <input type="submit" value="Submit"><br><br>
</body>
</html> 